[Unit]
Description=SteamCMD Background Service
After=network.target

[Service]
User=avorion
Group=dsnineadm
Type=forking
WorkingDirectory=/srv/avorion
PrivateUsers=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ExecStart=/usr/bin/tmux -S /srv/avorion/dsnineadm.sock new-session -d -s steamcli '/usr/games/steamcmd +login anonymous'
ExecStop=/usr/bin/tmux -S /srv/avorion/dsnineadm.sock send-keys -t steamcli 'quit' ENTER

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

