[Unit]
Description=Avorion Server: %i
After=steamcmd.target

[Service]
Type=forking
User=avorion
Group=dsnineadm
WorkingDirectory=/srv/avorion
ProtectSystem=full
PrivateUsers=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

; This should be set to the Steam64 ID for the
; primary server administrator
Environment=ADMIN=

ExecStart=/usr/bin/tmux -f /etc/avorioncmd-tmux.conf -S /srv/avorion/sockets/%i.sock new-session -d -s avorion-%i "cd /srv/avorion/server_files; LD_LIBRARY_PATH=/srv/avorion/server_files/linux64 /srv/avorion/server_files/bin/AvorionServer --galaxy-name %i --admin ${ADMIN} --datapath /srv/avorion; exit $$?"
ExecStop=/usr/bin/tmux -f /etc/avorioncmd-tmux.conf  -S /srv/avorion/sockets/%i.sock send-keys -t avorion-%i '/say Server going is down' ENTER
ExecStop=/usr/bin/tmux -f /etc/avorioncmd-tmux.conf  -S /srv/avorion/sockets/%i.sock send-keys -t avorion-%i '/save' ENTER
ExecStop=/usr/bin/tmux -f /etc/avorioncmd-tmux.conf  -S /srv/avorion/sockets/%i.sock send-keys -t avorion-%i '/stop' ENTER

Restart=always
RestartSec=10s
