[Unit]
Description=SteamCMD Background Service
After=network.target

[Service]
User=avorion
Group=dsnineadm
Type=forking
WorkingDirectory=/srv/avorion
PrivateUsers=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ExecStart=/usr/bin/tmux -S /srv/avorion/sockets/steamcmd.sock new-session -d -s steamcmd "/usr/games/steamcmd +login anonymous"
ExecStop=/usr/bin/tmux -S /srv/avorion/sockets/steamcmd.sock send-keys -t steamcmd 'quit' ENTER

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
