[Unit]
Description=Remote NFS Share
After=avorionservers.target

[Mount]
What=sibyl.xtnet.link:/nfs/backups/sleepybackup
Where=/backup
Type=nfs
Options=_netdev,auto,rw

[Install]
WantedBy=multi-user.target